/* Contenedor principal de Masonry */
.masonry-grid {
    display: flex;
    margin-left: -10px; /* Espaciado negativo para compensar padding */
    width: auto; /* Ajusta el ancho automáticamente */
}

/* Columnas de Masonry */
.masonry-grid-column {
    padding-left: 10px; /* Espaciado entre columnas */
    background-clip: padding-box;
}

/* Estilo para cada ítem dentro de las columnas */
.masonry-item {
    margin-bottom: 10px; /* Espaciado entre elementos */
    border-radius: 8px; /* Bordes redondeados (opcional) */
    overflow: hidden;
}

.masonry-item img {
    width: 100%;
    display: block;
    object-fit: cover; /* Asegura que las imágenes se ajusten bien */
    border-radius: 8px; /* Coincide con el borde redondeado del contenedor */
}

/* Mensaje de carga */
.loading-message {
    text-align: center;
    font-size: 1rem;
    margin-top: 20px;
    color: #555;
    animation: fadeIn 0.5s ease-in-out;
}

/* Mensaje al llegar al límite */
.end-message {
    text-align: center;
    font-size: 1rem;
    margin-top: 20px;
    color: #555;
}

/* Animación para el mensaje */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Responsividad adicional (si deseas ajustar detalles en dispositivos pequeños) */
@media (max-width: 768px) {
    .masonry-item {
        margin-bottom: 8px; /* Espaciado menor para pantallas pequeñas */
    }
}

